@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tema de cadastro de Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Opçoes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>GUGU</td>
                <td>gustavochama@gmail.com</td>
                <td>(11) 94744 7701</td>
                <td>
                    <button type="button" class="btn btn-primary">Atualizar</button>
                    <button type="button" class="btn btn-danger">Apagar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>stefano</td>
                <td>stefaninho@gamil.ocm</td>
                <td>(11) 437 8524 52</td>
                <td>
                    <button type="button" class="btn btn-primary">Atualizar</button>
                    <button type="button" class="btn btn-danger">Apagar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>larinho@gmail.ocm</td>
                <td>(11) 95893 2547</td>
                <td>
                    <button type="button" class="btn btn-primary">Atualizar</button>
                    <button type="button" class="btn btn-danger">Apagar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
